* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #09042A;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  }
#hor{
  display: flex;
  justify-content: center;
  align-items: center;
}
#hor .circle{
  height: 80px;
  width: 80px;
  background: #E78481;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -2px;
}
#hor .circle:before{
  display: block;
  content: "";
  height: 60px;
  width: 60px;
  background: #09042A;
  border-radius: 50%;
}
#hor .circle:after{
  position: absolute;
  z-index: -100;
  display: block;
  content: "";
  border-bottom: 50px solid #E78481;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
height: 0;
width: 25px;
  transform: translateX(30px) rotate(90deg);
}
#hor #bar{
  width: 42px;
  height: 30px;
  background: #E78481;
}
#right{
  transform: rotate(180deg);
}
#ver{
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: absolute;
  transform: rotate(90deg);
}
#ver .circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #F5BB9C;
  border: 10px solid #09042A;
}
