* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #6592CF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* continuă cu css pt elemente 😊 */
div {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50%;
  border: 20px solid #060F55;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: translateY(50px) rotate(45deg);
}
div:before,
div:after{
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border: 20px solid #060F55;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
}
div:before{
  transform: translate(-160px, -20px) rotate(0deg);
}
div:after{
  transform: translateY(-280px) translateX(-20px);
}
