* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #F3AC3C;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
div {
  width: 200px;
  height: 200px;
  background: #1A4341;
  display: flex;
  align-items: flex-end;
}
div:before,
div:after{
  display: block;
  content: "";
  height: 100px;
  width: 100px;
position: absolute;
}
div:before{
  background: #998235;
}
div:after{
  background: #F3AC3C;
  height: 50px;
  width: 50px;
  transform: translateX(50px);
}
