* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background-color: #222730;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* continuă cu css pt elemente 😊 */
.container {
  display: flex;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: #4CAAB3;
  transform: rotate(45deg);
}
#center:before {
  display: block;
  content: "";
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #393E46;
}
#left {
  background-color: #4CAAB3;
  height: 100%;
  width: 95px;
  display: flex;
  justify-content: flex-end;
}
#left:after {
  display: block;
  content: "";
  width: 0;
height: 0;
  border-right: 75px solid #222730;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
}
#right {
  display: flex;
  justify-content: flex-start;
  background-color: #4CAAB3;
  height: 100%;
  width: 95px;
}
#right:before{
  display: block;
  content: "";
  width: 0;
height: 0;
  border-left: 75px solid #222730;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
}
