* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #1A4341;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container{display: flex;}
  .chestie {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
  .chestie:before{
    display: block;
    content: "";
    background: #998235;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translateY(-35px);
  }
  .chestie:after{
    display: block;
    content: "";
    background: #F3AC3C;
    width: 100%;
    height: 100%;
    transform: translateY(-15px);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .reverse{
    transform: rotate(180deg);
  }
  .inv:before{
    background:#F3AC3C;
  }
  .inv:after{
    background:#998235;
  }
