* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background-color:#F5D6B4; display: flex; justify-content:center; align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.circle{
  width: 60px;
  height: 60px;
  background-color:transparent;
  border-radius: 50%;
  display: flex;
  border: 20px solid #D86F45;
  border-bottom-color: black;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.up{transform:rotate(-45deg);} 
.left{
  transform: translateX(20px) translateY(-1px) rotate(135deg);
  justify-content: center;
  align-items: center;
}
.left:before{
   display: block;
  content: "";
  background-color: #D86F45;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg) translateX(40px);
}
.right{transform: translateX(-20px) translateY(-1px) rotate(135deg); justify-content: center;
  align-items: center;}
.right:before{
   display: block;
  content: "";
  background-color: #D86F45;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg) translateX(-40px);
}
