* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #293462;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container{display: flex; flex-direction: column; justify-content: center; align-items: center;}
  #base{
    height: 40px;
    width: 30px;
    border-top: 10px solid #A64942;
    background: #FE5F55;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #ice{
    height: 150px;
    width: 100px;
    background: #FFF1C1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
