* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container{
  display: flex;
}
#container:before,
#container:after{
display: block;
  content: "";
  width: 50px;
  height: 70px;
}
#container:before{
  border-left: 30px solid #F2994A;
  border-bottom: 30px solid #F2994A;
  border-bottom-left-radius: 10px;
  transform: rotate(45deg) translate(2px, -36px);
}
#container:after{
  border-right: 30px solid #2D9CDB;
  border-top: 30px solid #2D9CDB;
  border-top-right-radius: 10px;
  transform: rotate(45deg) translate(-5px, 38px);
}
