* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */ 

  background-color: #62374e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#row1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#row2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: flex-end;
}

.square {
  width: 50px;
  height: 50px;
  background-color: #fdc57b;
}