* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #293462;
}

/* continuă cu css pt elemente 😊 */
#main {
  width: 200px;
  height: 100%;
  background: #FFF1C1;
  position: relative;
}
#main:before{
  display: block;
  content: "";
  width: 150px;
  height: 100px;
  background: #FE5F55;
  position: absolute;
  bottom: 0;
  border-right: 50px solid #A64942;
}
#main:after{
  display: block;
  content: "";
  width: 100px;
  height: 150px;
  background: #FE5F55;
  position: absolute;
  transform: translateX(200px);
  border-bottom: 50px solid #A64942;
}
