* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  display: flex;
    justify-content: center;
    align-items: center;
    background: #6592CF;
}

/* continuă cu css pt elemente 😊 */
div {
  width: 100px;
  height: 100px;
  background: #6592CF;
  border-radius: 50%;
  border: 50px solid #243D83;
  display: flex;
}
div:before,
div:after{
  display: block;
  content: "";
  height: 100px;
  width: 50px;
}
div:before{background: #243D83;transform: translate(-50px, -50px);}
div:after{background: #6592CF;transform: translate(-50px, -50px);}
