* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #1A4341;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
div:before,
  div:after{
    display: block;
    content: "";
    position: absolute;
    z-index: -5;
  }
  #container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  #container:before{
    width: 270px;
    height: 30px;
    background: #998235;
    transform: translateY(240px);
  }
  #mid{
    height: 100%;
    width: 30px;
    background: #F3AC3C;
    position: relative;
  }
  #mid:before{
    width: 210px;
    height: 180px;
    transform: translateX(-120px);
    border: 30px solid #F3AC3C;
    border-top-width: 0;
  }
  #mid:after{
    width: 90px;
    height: 120px;
    transform: translateX(-60px);
    border: 30px solid #998235;
    border-top-width: 0;
  }
