* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #0B2429;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container{
  background: #998235;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container:before,
#container:after{
  display: block;
  content: "";
  border-right: 60px solid #998235;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
}
#container:before{
  transform: translateX(-80px);
}
#container:after{
  transform: translateX(80px) rotate(180deg);
}
#circle{
  position: absolute;
  z-index: 9999;
  height: 180px;
  width: 180px;
  background: #0B2429;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle:before,
#circle:after{
  position: absolute;
  display: block;
  content: "";
  border-radius: 50%;
}
#circle:before{
  background: #F3AC3C;
  width: 140px;
  height: 140px;
}
#circle:after{
  background: #0B2429;
  width: 50px;
  height: 50px;
}
