* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background-color: #0B2429;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.lemon {
  position: absolute;
  height: 150px;
  width: 150px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #F3AC3C;
}
#first{
  transform: translateX(-50px);
  background-color: #1A4341;
}
#second{
  background-color: #998235;
}
#last{
  transform: translateX(50px);
}
