* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #293462;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* continuă cu css pt elemente 😊 */
#head {
  width: 200px;
  height: 200px;
  background: #FE5F55;
  border-radius: 100px 100px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
#hair{
  top:0;
  position: absolute;
  width: 50px;
  height: 50px;
}
#hair:before,
#hair:after{
  display: block;
  content: "";
  width: 85px;
  height: 80px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #FFF1C1;
}
#hair:before{transform: translate(-70px, -30px) rotate(30deg);}
#hair:after{transform: translate(30px, -110px) rotate(-30deg);}
#face{
  width: 40px;
  height: 10px;
  background: #FFF1C1;
  transform: translateY(-20px);
  border-radius: 10px;
}
#face:before,
#face:after{
  display: block;
  content: "";
  height: 60px;
  width: 60px;
  background: #FFF1C1;
  border-radius: 50%;
}
#face:before{transform: translate(-60px, -80px);}
#face:after{transform: translate(40px, -140px);}
