* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #293462;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
#container {
  width: 200px;
  height: 100px;
  background: #A64942;
  border-radius: 20px;
  transform: translateY(10px) scaleY(-1);
}
#lip:before{
  display: block;
  content: "";
  background: #A64942;
  width: 140px;
  height: 40px;
  position: absolute;
  border-radius: 20px;
}
#lip{
  background: #FE5F55;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transform: translateY(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
