* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
div {
  height: 190px;
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
i {
  background: #4F77FF;
  display: block;
}
i::before,
i::after {
  content: "";
  display: block;
  position: absolute;
}
#a {
  position: relative;
  width: 140px;
  height: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#a::before {
  background: #191919;
  width: 110px;
  height: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#a::after {
  width: 100%;
  height: 20px;
  background: #191919;
}
#b {
  position: absolute;
  width: 100px;
  background: #4F77FF;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 0;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#b::before {
  background: #4F77FF;
  width: 30px;
  height: 30px;
  border: 10px solid #191919;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -29px);
}
#c {
  width: 100%;
  height: 10px;
  background: #191919;
}
#d {
  background: #191919;
  width: 100%;
  height: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#e {
  width: 20px;
  background: #F9E492;
  border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;
}
#d::before {
  width: 100px;
  height: 100px;
  background: #4F77FF;
  top: -60px;
  border-radius: 50%;
  z-index: 2;
}
#d::after {
  width: 40px;
  height: 40px;
  background: #F9E492;
  border-radius: 50%;
  z-index: 1;
  top: 20px;
}
