* {
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  height: 300px;
  border: 1px solid #fff; /* să se vadă containerul adevărat */

  /* inserează restul de css pt body */
  background: #293462;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* continuă cu css pt elemente 😊 */
div:before,
  div:after{
    display: block;
    content: "";
  }
  #container {
    width: 150px;
    height: 100px;
    background: #FFF1C1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: space-between;
  }
  #container:before,
  #container:after{
	width: 50px;
    height: 40px;
	border: 10px solid #FFF1C1;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  #container:before{
    transform: translate(-60px, 0px);
  }
  #container:after{
    transform: translate(60px, 0px) scaleX(-1);
  }
  #dungi{
    position: absolute;
    transform: translate(20px, 20px);
  }
  #dungi:before,
  #dungi:after{
	background: #FE5F55;
    width: 40px;
    height: 10px;
    border-radius: 10px;
  }
  #dungi:before{margin-bottom: 10px;}
  #cerc{
    position: absolute;
    background: #FE5F55;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(90px, 40px);
  }
